[
  {
    "name": "Front Door",
    "ip": "192.168.1.50",
    "username": "camuser",
    "password": "campass",
    "port": 554,
    "stream": "stream1",
    "previewStream": "stream2",
    "hidden": false,
    "ptz": true
  },
  {
    "name": "Backyard",
    "ip": "192.168.1.51",
    "username": "camuser",
    "password": "campass",
    "port": 554,
    "stream": "stream1",
    "previewStream": "stream2",
    "hidden": false,
    "ptz": false
  }
]
