[
  {
    "name": "Front Door",
    "ip": "192.168.1.50",
    "username": "camuser",
    "password": "campass",
    "port": 554,
    "stream": "stream1",
    "hidden": false
  },
  {
    "name": "Backyard",
    "ip": "192.168.1.51",
    "username": "camuser",
    "password": "campass",
    "port": 554,
    "stream": "stream1",
    "hidden": false
  }
]
